body {
font-family: "Roboto", sans-serif;
color: #2E2F42;
background-color: #FFFFFF;
}

ul, 
ol {
list-style: none;
margin: 0;
padding-left: 0;}

a {
text-decoration: none;
color: initial;}

h1, h2, h3, h4, h5, h6, p {
margin-top: 0;
margin-bottom: 0;}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.container {
max-width: 320px;
margin: 0 auto;
} 

/*h2*/
.section-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center; }

.color-accent {
color: #4D5AE5;}

.hero-button, .submit-button {
background-color: #4D5AE5;
box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.social-icon {
fill: #F4F4FD;
}

.footer-form-icon {
fill:#FFFFFF;
}
