.footer {
width: 100%;
margin: 0 auto;
background-color: #2E2F42;
padding: 96px 0;
display: flex;
justify-content: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-content {
display: flex;
flex-direction: column;
gap: 16px;
}

.footer-logo {
padding: 0 86.5px;
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
}

.footer-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
flex-direction: start;
}

.footer-social-media {
display: flex;
flex-direction: column;
align-items: center;
}

.footer-social-title {
color: #FFFFFF;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
padding: 0 56px;
}

.footer-social-list {
display: flex;
gap: 16px;
justify-content: center; 
}

.footer-social-link {
display: flex;
align-items: center;
justify-content: center;
border-radius: 20px;
width: 40px;
height: 40px;
background-color: #4D5AE5;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
background-color: #31D0AA;
}

.footer-form-container {
display: flex;
flex-direction: column;
align-items: center;
gap: 16px;
width: 100%
}

.footer-form-title {
color: #FFFFFF;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.footer-form {
display: flex;
flex-direction: column;
width: 100%;
gap: 16px;
}

.footer-form-input {
font-weight: 400;
font-size: 12px;
line-height: 1.7;
letter-spacing: 0.04em;
border: 1px solid rgba(255, 255, 255, 1);
background-color: transparent;
color: #FFFFFF;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
box-sizing: border-box;
padding: 8px 16px;
border-radius: 4px;
width: 100%;
max-width: 100%;
}

.footer-form-input::placeholder {
color: rgba(255, 255, 255, 1);
}

.footer-form-input:focus {
  outline: none;
  border-color: #31D0AA;
}

.footer-form-button {
width: auto;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
padding: 8px 24px;
display: flex;
align-items: center;
justify-content: center;
gap: 16px;
background-color: #4D5AE5;
color: #FFFFFF;
border: none;
border-radius: 4px;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin: 0 auto;
}

.footer-form-button:hover,
.footer-form-button:focus {
background-color: #31D0AA;
}

@media screen and (min-width: 768px) {
  .footer {
    width: 100%;
    padding: 96px 108px;
    margin: 0 auto;
  }

  .footer-container {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  justify-content: flex-start;
  align-items: flex-start;
  }

  .footer-content {
max-width: 264px;
align-items: start;
} 

.footer-logo {
padding: 0;
}

 .footer-form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  max-width: 453px;
}

.footer-form {
justify-content: flex-start;
display: flex;
flex-direction: row;
align-items: flex-start;
gap: 24px;
} 

.footer-form-title {
text-align: left;
padding: 0;
}

.footer-social-title {
text-align: left;
padding: 0;
}

.footer-social-media {
align-items: flex-start;
text-align: left;
}

.footer-form-input {
  width: 264px;
}
}

@media screen and (min-width: 1158px) {
  .footer {
width: 100%;
max-width: 1440px;
padding: 100px 0;
flex-direction: column;
align-items: center;
}

.footer-container {
  gap: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}

.footer-content {
width: 264px;
display: flex;
flex-direction: column;
justify-content: flex-start;
gap: 16px;
margin-right: 120px;
}

.footer-social-media {
display: flex;
flex-direction: column;
margin-right: auto;
}

.footer-form-container {
display: flex;
flex-direction: column;
margin-left: auto;
}
}