.back-drop {
position: fixed;
display: flex;
justify-content: center;
align-items: flex-start;
padding: 9px 16px 8px;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
z-index: 999999999;
opacity: 0;
visibility: hidden;
pointer-events: none;
transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}

.back-drop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
position: relative;
max-width: 288px;
height: 80%;
max-height: 623px;
border-radius: 4px;
padding: 72px 16px 24px;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background: rgba(252, 252, 252, 1);
overflow: auto;
margin: 0;
}

.close-modal {
position: absolute;
display: flex;
align-items: center;
justify-content: center;
top: 24px;
right: 24px;
border: 1px solid rgba(46, 47, 66, 0.4);
background-color: #E7E9FC;
border-radius: 24px;
padding: 8px;
cursor: pointer;
line-height: 0;
transition: background-color 250ms ease-in-out;
}

.close-modal:hover,
.close-modal:focus {
background-color: #404BBF;
}

.close-modal svg {
  fill: #2E2F42;
  transition: fill 250ms ease-in-out;
}

.close-modal:hover svg,
.close-modal:focus svg {
fill: #FFFFFF;
}

.modal-title {
min-width: 255px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
margin: 0 auto 16px;
}

.input-wrapper {
max-width: 255px;
margin-bottom: 8px;
}

.textarea {
margin-bottom: 16px;
}

.checkbox {
margin-bottom: 24px;
}

.form-label {
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8E8F99;
margin-bottom: 4px;
display: block;
}

.input-text {
width: 100%;
height: 40px;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
padding: 8px 16px 8px 38px;
color: #2E2F42;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
transition: border-color 250ms ease-in-out;
}

.input-text:focus, 
.input-textarea:focus {
outline: none;
border-color: #4D5AE5;
}

.input-text:focus + .form-input-icon {
  fill: #4D5AE5;
}

.form-input-icon {
fill:#2E2F42;
position: absolute;
top: 50%;
left: 16px;
transform: translateY(-50%);
transition: fill 250ms ease-in-out;
}

.form-input-icon:focus,
.form-input-icon:hover {
fill: #4D5AE5;
}

.input-svg-wrapper {
position: relative;
}

.input-textarea {
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
padding: 8px 16px;
width: 100%;
height: 120px;
resize: none;
transition: border-color 250ms ease-in-out;
}

.input-textarea::placeholder {
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
}

.input-checkboxtext {
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8E8F99;
}

.checkbox-label {
width: 100%;
display: flex;
align-items: center;
flex-wrap: nowrap;
}

.checkbox-icon {
fill: #FFFFFF;
opacity: 0;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox {
display: inline-flex;
align-items: center;
justify-content: center;
cursor: pointer;
height: 16px;
width: 16px;
border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
transition: border-color 250ms ease-in-out, background-color 250ms ease-in-out;
color: #FFFFFF;
text-decoration: underline;
}



.input-checkboxtext:hover .custom-checkbox {
  border-color: #4D5AE5;
}

.native-checkbox:checked + .input-checkboxtext .custom-checkbox {
background-color: #404BBF;
}

.native-checkbox:checked + .input-checkboxtext .checkbox-icon {
opacity: 1;
}

.privacy-text {
display: flex;
flex-direction: column;
margin-left: auto;
align-items: flex-start;
}

.privacy-link {
  line-height: 1.33;
  color: #4D5AE5;
  text-decoration: underline;
}


.submit-button {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
display: block;
margin: 0 auto;
border: none;
cursor: pointer;
border-radius: 4px;
padding: 16px 65px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
  background-color: #404BBF;
}

@media screen and (min-width: 768px) {
.back-drop {
  padding: 126px 180px;
}

.modal {
min-width: 408px;
max-height: 584px;
padding: 72px 24px 24px;
}  

.modal-title {
min-width: 360px;
}

.input-wrapper {
min-width: 360px;
}

.checkbox-label {
display: flex;
align-items: center;
gap: 8px;
}

.privacy-text {
display: flex;
flex-direction: row;
gap: 4px;
margin-left: 0;
}

}

@media screen and (min-width: 1158px) {
.back-drop {
padding: 124px 516px;
}
}