.team {
background-color: #F4F4FD;
}

.team-title {
padding-bottom: 72px;}

.team-item {
background-color: #FFFFFF;
border-radius: 0 0 4px 4px;
padding-bottom: 32px;
text-align: center;
width: calc((100% - 72px) / 3);
}

.team-list {
display: inline-flex;
gap: 24px;
padding-left: 15px;
padding-right: 15px;
}

.team-item-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
margin-top: 32px;
margin-bottom: 8px;}

.team-item-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;}
